html{
   scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.relative {
    position: absolute;
    padding:35px;
    top: 60%;
    transform: translateY(-50%);
    text-align: left;
    right: 0;
    left: 0;
}

.information-box {
    padding: 90px 0px;
    background: #fff;
}
@media (min-width: 992px)
.container {
    max-width: 960px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    box-sizing: border-box !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px)
.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.btn{
  font-weight:700;
  border-radius: 500px;
  max-width:200px;
}
